SPRING_LOGS_DIR="/opt/{{ app_name }}/logs"
SPRING_ROOT_LOG_LEVEL=DEBUG
SPRING_BOOT_DOWNLOAD_DIR="/opt/downloads/{{ app_name }}"
APP_SETTING_DIR="/opt/{{ app_name }}/setting"
APP_SERVER_URL="https://cpsyc.resp.me"
CPSYC_JASYPT_PASSWORD="{{ app.jasypt_pass }}"
